body{
    margin: 30px;
    
    background-color: rgb(200, 205, 216);
    background-position: center;
    background-size: cover;

}
#akn {
    text-align: center;
    color : rgb(44, 43, 43);
}
#intro{
    font-style: oblique;
    color : rgb(92, 88, 88);
}
#date {
    margin-bottom: 30px;
}
#month{
    margin-bottom: 30px;
}
#year {
    margin-bottom: 30px;
}
#sub {
    margin-top: 30px;
}
.frm{
    width: 380px;
    height: 480px;
    margin: 30px;
    position: relative;
    background: rgb(146, 146, 145);
    padding: 20px;
} 
#date , #month , #year {
    border-radius: 10px;
    width: 200px;
    margin-left: 30px;
    
    
}
